name: Reduce README
permissions:
  contents: write
on:
  push:
    paths:
      - sunnytech-2023/README_src.adoc
    branches: ["**"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Install Asciidoctor Reducer
        run: sudo gem install asciidoctor-reducer
      - name: Reduce README
        # to preserve preprocessor conditionals, add the --preserve-conditionals option
        run: asciidoctor-reducer -o sunnytech-2023/README.adoc sunnytech-2023/README_src.adoc
      - name: Commit and Push README
        uses: EndBug/add-and-commit@v9
        with:
          add: sunnytech-2023/README.adoc
          message: "Generate reduced README"
